.aboutPage {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    align-content: center;
}

.aboutPageImage {
    margin-top: 3rem;
    padding: 2rem;
    
}