.aboutPage {
    display: flex;
    flex-flow: row wrap; 
    /* align-items: center;
    justify-content: center;
    align-content: center; */
}

.aboutPageImage {
    margin: 5rem;
    width: 75%;
    
}

.aboutParagraph { 
    padding: 2rem; 
    margin-bottom: 10rem; 
    border: 1px solid #2e252c; 
}