.homePage {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    align-content: center;
}

.homePageImage {
    border: 1px solid black;
    border-radius: 1%;
    width: 50rem;
    height: 25rem;
    text-align: center; 
}