.contactForm {
    width: 100%;
    padding: 5rem 5rem 1rem 5rem;
}

.formItem {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

input {
    padding: 3px;
}


.submitButton {
    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
    margin-top: 1rem;
    width: 98%;
    border: 1px solid grey;
    float: right;
    background-color: #fafafa;
}