/* imports Bulma framework for css */
@import 'bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: 'Lora', serif;
    ;
}

.navbar-item a {
    color: white;
}

.header {
    font-size: 5rem;
    text-align: center;

}