/* imports Bulma framework for css */
@import 'bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@media screen and (min-width: 480px) {
    body {
        font-family: 'Lora', serif;
        ;
    }

}

.navbar-item a {
    color: white;
}

.header {
    font-size: 3rem;
    text-align: center;
    /* display: flex;
    padding-top: 35%;
    justify-content: center; */
}

a { 
    color: black; 
}